p{
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 30px;
}
li{
  font-family: "Arial";
  &:nth-last-child(1){
    color: limegreen;
    font-style: italic;
  }
  &:nth-last-child(5){
    color: deeppink;
    font-weight: bolder;
  }
}